#root {
  max-width: 1280px;
  margin: 10;
  padding: 100;
  text-align: center;
}
  .my-link {
  display: flex;
  gap: 30px; 
  justify-content: center; 
  align-items: center;
}

.cat {
  width: 800px;
  margin: auto;
  color: blue;
}